* {
    padding: auto;
    margin: auto;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: url("img/principal_banner_desktop.jpg");
    position: absolute;
    width: 1920px;
    height: 840px ;
    margin-top: 0px;
}

.menu {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    padding: 44px;
}

.icone-hamburguer img {
    position: absolute;
    left: 373px;
    top: 49px;
    cursor: pointer;
}

.menu-hamburguer {
    position: absolute;
    background-color: #084154;
    width: 565px;
    height: 249px;
    flex-direction: row;
    border: 2px solid #3EC6E0;
    border-radius: 5px;
    top: 101.48px;
    left: 344px;
    box-shadow: 10px 10px #3EC6E0;
    animation-duration: 1s;
}

@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: 344px;}
}

.menu-hamburguer li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu-hamburguer h3 {
    font-weight: 700;
    font-size: 16px;
    color: #FFF;
    padding-bottom: 19px;
}

.menu-hamburguer a {
    text-decoration: none;
    color: #FFF;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 19px;
    vertical-align: middle;
}

.menu-hamburguer a:hover {
    width: 166px;
    height: 33px;
    background: #3EC6E0;
    border-radius: 5px;
    border: none;
    
}

.jogos-luta {
    position: absolute;
    top: 45px;
    left: 46px;
}

.jogos-aa {
    position: absolute;
    top: 45px;
    left: 229px;
}

.jogos-corrida {
    position: absolute;
    top: 45px;
    left: 400px;
}

.logo-n1 {
    position: absolute;
    left: 446px;
    top: 44px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 39px;
    border-right: 2px solid #FFF;
}

.nav_links li:last-child {
    border-right: none;
}

.nav_links li img {
    padding-right: 15px;
}


nav a {
    color: #FFF;
    text-decoration: none;
}


.banner-principal {
    width: 100%;
    height: 840px;
    left: 0px;
    right: 0px;
    top: 0px;
}

.conteudo-banner-principal {
    width: 420px;
    height: 327px;
    top: 209px;

}

.conteudo-banner-principal {
    display: flex;
    justify-content: space-between;
}

.conteudo-banner-principal h2, span, p {
    color: #FFF;
}

.conteudo-banner-principal h2 {
    position: absolute;
    width: 384px;
    height: 54px;
    left: 1051px;
    top: 209px;
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 54px;
    /* identical to box height */
    color: #FFFFFF;
}

.conteudo-banner-principal span {
    position: absolute;
    width: 226px;
    height: 82px;
    left: 1162px;
    top: 263px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 82px;
    color: #3EC6E0;
}

.slider {
    position: absolute;
    width: 63px;
    height: 384px;
    left: 1857px;
    top: 212px;
    background: #3EC6E0;
    border-radius: 0px 0px 0px 10px;
}

.titulo-slider h5 {
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-top: 70px;
    transform: rotate(90deg);
    width: 70px;
    color: #FFF;
}

.numero-slider {
    position: absolute;
    width: 63px;
    height: 84px;
    left: 1857px;
    top: 512px;
    background: #084154;
    border-radius: 0px 0px 0px 10px;
}

.numero-slider h6 {
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    top: 23px;
    left: 17px;
    line-height: 16px;
    color: #FFF
}

.seta-slider-1 {
    padding-top: 49px;
    left: 14px;
    display: flex;
    justify-content:space-around;
}




/* ,99 */

.conteudo-banner-principal .principal-centavos {
    position: absolute;
    width: 40px;
    height: 33px;
    left: 1388px;
    top: 278px;                        
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 33px;
    color: #3EC6E0;

}

.conteudo-banner-principal p {
    position: absolute;
    width: 420px;
    height: 163px;
    left: 1015px;
    top: 373px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    text-align: right;
}


.primeiro-destaque img {
    position: absolute;
    width: 627px;
    height: 368px;
    left: 323px;
    top: 691px;
}

.titulo-destaque {
    position: absolute;
    width: 627px;
    height: 61px;
    left: 323px;
    top: 1055px;
    background: #3EC6E0;
    border-radius: 5px;
}

.titulo-destaque h4 {
    position: absolute;
    width: 299px;
    height: 19px;
    left: 30px;
    top: 21px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #084154;
}

.titulo-destaque-2 {
    position: absolute;
    width: 627px;
    height: 61px;
    left: 970px;
    top: 1055px;
    background: #3EC6E0;
    border-radius: 5px;
}

.titulo-destaque-2 h4 {
    position: absolute;
    width: 299px;
    height: 19px;
    left: 29px;
    top: 21px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #084154;
}



.segundo-destaque img {
    position: absolute;
    width: 627px;
    height: 368px;
    left: 970px;
    top: 691px;
}

.produtos-destaque h5 {
    position: absolute;
    width: 40%;
    left: 377px;
    top: 1199px;
    margin-right: 1185px;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    color: #084154;
}

.estilo-destaques {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 327px;
    top: 1204px;
}
 
.primeiro-produto {
    position: absolute;
    width: 350px;
    height: 602px;
    left: 402px;
    top: 1321px;
    background: #FFF;
    box-shadow: 0px 4px 20px 7px rgba(0, 0, 0, 0.07);
    border-radius: 10px
}

.primeiro-produto img {
    position: absolute;
    width: 350px;
    height: 362px;
    top: 36px;

}


.segundo-produto {
    position: absolute;
    left: 786px;
    top: 1321px;    
    width: 350px;
    height: 602px;
    background: #FFF;
    box-shadow: 0px 4px 20px 7px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}

.segundo-produto img {
    position: absolute;
    width: 349px;
    height: 363px;
    top: 36px;
}

.terceiro-produto {
    position: absolute;
    width: 350px;
    left: 1168px;
    top: 1321px;
    height: 602px;
    background: #FFF;
    box-shadow: 0px 4px 20px 7px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}

.terceiro-produto img {
    position: absolute;
    width: 350px;
    height: 363px;
    top: 36px;
}

.primeiro-produto-info, .segundo-produto-info, .terceiro-produto-info {
    position: absolute;
    width: 350px;
    height: 185px;
    top: 417px;
    background: #F5F5F5;
    border-radius: 0px 0px 10px 10px;
    border-top: 2px solid #3EC6E0;
}

.primeiro-produto-info h6, .segundo-produto-info h6, .terceiro-produto-info h6 {
    position: absolute;
    top: 24px;
    left: 36px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    word-wrap: break-word;
    width: 200px;
    color: #084154;
}


.primeiro-produto-info span, .segundo-produto-info span, .terceiro-produto-info span {
    position: absolute;
    width: 84px;
    height: 21px;
    left: 36px;
    top: 67px;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #084154;
}

.botao-comprar {
    position: absolute;
    width: 240px;
    height: 52px;
    left: 55px;
    top: 112px;
    background: #3EC6E0;
    border-radius: 5px;
    border: #3EC6E0;
    cursor: pointer;
}

.botao-comprar h4 {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    color: #FFF;
}


.container-footer-1 {
    position: absolute;
    width: 547px;
    height: 50px;
    left: 0px;
    top: 2094px;
    background: #084154;
}

.logo-footer {
    position: absolute;
    width: 42px;
    height: 28px;
    left: 461px;
    top: 11px;

}

.direitos-container {
    position: absolute;
    width: 1373px;
    height: 50px;
    left: 547px;
    top: 2094px;
    background: #3EC6E0;
}

.texto-footer {
    font-size: 14px;
    padding: 17px 0 17px 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;    
    color: #FFFFFF;
}